.container-header{
    text-align: center;
}
.image-header{
    height: 250px;
    margin-top: 10px;
}

.menu{
    background-color: #9ccfe0;
    border-radius: 10px;
}
.nosotros{
    background-color: #ffb154;
    border-radius: 10px;
}
.servicio{
    background-color: #e1a6f6;
    border-radius: 10px;
}
.contacto{
    background-color: #FABEC0;
    border-radius: 10px;
}

.nav-item{
    padding: 10px;
}
